* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* adding background img*/
body {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #dbecf4; */
    background-image: url('mountain.jpg');
    background-size: cover;
    background-attachment: fixed;
}

/* center content vertically and :horizontally */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    

}

.form {
    width: 350px;
    height: 450px;
    background-color: rgba(30, 39, 39, 0.3);
    /* box-shadow: 0 5px 30px black; */
    border-radius: 18px;
}

.logo {
    width: 25%;
    height: 50%;
    /* position: absolute; */
    position: relative;
    border-radius: 50%;
    margin-right:20% ;
    
}
.btn button {
    padding: 3px;
    margin: 25px 0px 20px 30px;
    border-style: none;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 550;
}

.formGroup {
    display: flex;
    justify-content: center;

}

.formGroup input {
    border: none;
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: transparent;
    border-bottom: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

::placeholder {
    color: white;
}

input:focus {
    outline: none;
    border-bottom: 2px solid darkseagreen;
    font-size: 17px;
    font-weight: bold;
}

.checkBox {
    display: flex;
    justify-content: center;
    margin: 15px;
}

#checkbox {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

.text {
    color: whitesmoke;
    font-size: 13px;
}

.btn2 {
    padding: 10px;
    outline: none;
    width: 150px;
    border-radius: 20px;
    border-style: none;
    background-color: rgb(111, 237, 111);
    color: whitesmoke;
    font-weight: 600;
}

.btn2:hover {
    background-color: rgb(16, 77, 16, 0.5);
}

.btn button:hover {
    border-bottom: 2px solid rgb(111, 237, 111);
}

/* hide sign in form */


.login {
    margin-top: 40px;
}

.login .checkBox {
    margin-top: 40px;
}

/* hide login admin form */


.loginAdmin {
    margin-top: 40px;
}

.loginAdmin .checkBox {
    margin-top: 40px;
}

/* responsive stuffs */
@media only screen and (min-width: 1100px) and (max-width: 1300px) {
    .logo {
        width: 30%;
        height: 50%;
        /* position: absolute; */
        position: relative;
        border-radius: 50%;
        margin-right:20% ;
        
    }
}

@media only screen and (min-width: 800px) and (max-width: 1099px) {
    .logo {
        width: 40%;
        height: 50%;
        /* position: absolute; */
        position: relative;
        border-radius: 50%;
        margin-right:10% ;
        
    }
    
}

@media only screen and (min-width: 451px) and (max-width: 799px)  {
        .logo {
            width: 100px;
            height: 100px;
            border-radius: 50% ;
            position: absolute;
            top: -1px;
            left: calc(50% - 50px);
            margin-bottom: 0%;
            margin-top: 12%;
        
        }
        .form {
            width: 300px;
            height: 400px;
            background-color: rgba(30, 39, 39, 0.3);
            /* box-shadow: 0 5px 30px black; */
            border-radius: 18px;
        }
        .formGroup input {
            border: none;
            width: 60%;
            padding: 10px;
            margin-bottom: 15px;
            background-color: transparent;
            border-bottom: 2px solid white;
            color: white;
            font-weight: bold;
            font-size: 13px;
        }
        .btn button {
            padding: 2px;
            margin: 22px 0px 15px 27px;
            border-style: none;
            background-color: transparent;
            color: white;
            font-size: 15px;
            font-weight: bold;
        }
        .btn2 {
            padding: 8px;
            outline: none;
            width: 130px;
            border-radius: 20px;
            border-style: none;
            background-color: rgb(111, 237, 111);
            color: whitesmoke;
            font-weight: 500;
         
        }
        
}

@media only screen and (max-width: 450px)  {
    .logo {
        width: 100px;
        height: 100px;
        border-radius: 50% ;
        position: absolute;
        top: -1px;
        left: calc(50% - 50px);
        margin-bottom: 0%;
        margin-top: 25%;
    
    }
    .form {
        width: 250px;
        height: 350px;
        background-color: rgba(30, 39, 39, 0.3);
        /* box-shadow: 0 5px 30px black; */
        border-radius: 18px;
    }
    .formGroup input {
        border: none;
        width: 40%;
        padding: 5px;
        margin-bottom: 13px;
        background-color: transparent;
        border-bottom: 2px solid white;
        color: white;
        font-weight: bold;
        font-size: 13px;
    }
    .btn button {
        padding: 2px;
        margin: 15px 0px 7px 18px;
        border-style: none;
        background-color: transparent;
        color: white;
        font-size: 15px;
        font-weight: bold;
    }
    .btn2 {
        padding: 6px;
        outline: none;
        width: 110px;
        border-radius: 20px;
        border-style: none;
        background-color: rgb(111, 237, 111);
        color: whitesmoke;
        font-weight: 400;
    }
    
}
