{% extends "custPage.html" %}

{% block title %} Add Transaction {% endblock %}
{% block logoLink %}
<a href="{{ url_for('custPage') }}" id="logo">
    <img src="static/3e.png" alt="" style="cursor: pointer;">
</a>
{% endblock %}
{% block additionalLinkNav %}{% endblock %}
{% block titleContent %}Add Transaction{% endblock %}
{% block mainContent %}
<div style="margin: 27px auto; border: 2px solid rgb(127, 225, 255); width: 90%; border-radius: 27px; padding: 27px;">
    <form action="/addtransactionprocess" method="post">
        <!-- Nominal -->
        <div>
            <span style="padding: 15px; font-size: 27px;">Nominal:</span>
            <input type="number" id="inputNominal" min="100000" max="1000000" value="100000" step="100000"
                name="nominal">
        </div>

        <!-- Duration Range -->
        <div style=" display: flex; justify-content: space-around; flex-wrap: wrap;" id="durTray">
            <!-- responsive 1 -->
            <input type="radio" value="1" class="durRent " name="durR" id="onemonth" checked>
            <label class="labelRadio" for="onemonth">1 Month (10%)</label>

            <input type="radio" value="3" class="durRent " name="durR" id="threemonth">
            <label class="labelRadio" for="threemonth">3 Months (18%)</label>

            <input type="radio" value="6" class="durRent " name="durR" id="sixmonth">
            <label class="labelRadio" for="sixmonth">6 Months (23%)</label>

            <input type="radio" value="12" class="durRent " name="durR" id="oneyear">
            <label class="labelRadio" for="oneyear">1 Year (27%)</label>
        </div>

        <!-- submit -->
        <div style="display: flex; justify-content: center;">
            <input type="submit" value="submit"
                style="margin: auto; border: none; border-radius: 14px; font-size: 18px; padding: 12px 22px; cursor: pointer;">
        </div>

        <!-- sk -->
        <br><br><br>
        <div>S.K:</div>
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis enim nemo officiis nihil,
            necessitatibus
            corrupti doloribus voluptates velit.</span>
    </form>
</div>
{% endblock %}
{% block script %}
{% endblock %}