<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style2.css')}}">


    <title>3E | Login</title>
</head>

<body>
    
    
        <!-- <img src="../static/3e.png" class="logo"> -->
   
    <div class="container">
       
        <img src="../static/3e.png" class="logo">
        
        <div class="form">
            <br><br>
            <div class="btn">
                <a href="signup">
                    <button class="signUpBtn"> SIGN UP</button></a>
                <a href="login">
                    <button class="loginBtn"> LOG IN</button></a>
                <a href="loginadmin">
                    <button class="adminBtn"> ADMIN</button></a>
            </div>


            <!-- create login cust page -->
            <form action="" method="post" class="login">
                <div class="formGroup">
                    <input type="name" name="name" id="Name" placeholder="Name" autocomplete="off">
                </div>
                <div class="formGroup">
                    <input type="password" name="password" id="password" placeholder="Password" autocomplete="off">
                </div>


                <div class="formGroup">
                    <button type="submit" class="btn2">LOGIN</button>
                </div>
            </form>
        </div>
      
    </div>

</body>

</html>