<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Customer</h1>
    {% for item in values %}
    <div>Id: {{item.customer_id}}</div>
    <div>Name: {{item.name}}</div>
    <div>Address: {{item.address}}</div>
    <div>Tel. Num: {{item.tel_num}}</div>
    <div>Pass: {{item.password}}</div>
    <div>Status: {{item.status}}</div>
    <br>
    {% endfor %}
    <br><br>
    <!-- <h1>Sale Invoice</h1>
    {% for tran in custTransactions %}
    <div>Id: {{tran.invoice_id}}</div>
    <div>Name: {{tran.sale_date}}</div>
    <div>Date: {{tran.payment_date}}</div>
    <div>Due: {{tran.total}}</div>
    <div>employee_id: {{tran.employee_id}}</div>
    <div>cust_id: {{tran.cust_id}}</div>
    <div>Status: {{tran.remark_id}}</div>
    <br>
    {% endfor %} -->
</body>

</html>